.primary {
  background-color: palevioletred;
}

.secondary {
  background-color: gray;
}

#my-element {
  width: 100px;
  height: 100px;
}

#resultText {
  width: 100px;
  height: 50px;
  border: 1px solid black;
}

#btnContainer {
  display: flex;
  flex-direction: column;
}
