/* ALLA REPON https://github.com/davidshore/chas_webbutveckling_grundkurs/tree/main */

/* https://github.com/davidshore/chas_webbutveckling_grundkurs/tree/main/v38-html-css-grunder
https://github.com/davidshore/chas_webbutveckling_grundkurs/tree/main/v38-html-css-grunder
https://github.com/davidshore/chas_webbutveckling_grundkurs/tree/main/v39-flexbox-bilder-f%C3%A4rger
https://github.com/davidshore/chas_webbutveckling_grundkurs/tree/main/v40-grid-formul%C3%A4r
https://github.com/davidshore/chas_webbutveckling_grundkurs/tree/main/v41-responsive-animationer */

/* 2. Flexbox eller Grid: */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0;
}

header,
main,
footer {
  padding: 20px;
  border: 1px solid #ccc;
}

main {
  display: flex;
  justify-content: space-between;
}

/* 4. CSS-animationer: */
button {
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #4285f4;
  color: white;
}

/* 3. Responsiv design: */

@media (max-width: 600px) {
  body {
    grid-template-rows: auto auto auto;
  }
}
