* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.country {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin: 30px;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
